@import "tailwindcss";

:root {
  --bg-primary: #FAFAFA;
  --bg-secondary: #0A0A0A;
  --bg-special: #3d2fff;
  
  --txt-primary: #121212;
  --txt-secondary: #FAFAFA;
  --txt-hover: #f32222;

  --promo-primary: #cf1b1b;
  --promo-secondary: #FAFAFA;
  --promo-third: #bebebe;
}

@theme {
  --color-brand-white: var(--bg-primary);
  --color-brand-black: var(--bg-secondary);
  --color-brand-special: var(--bg-special);
  --color-txt-black: var(--txt-primary);
  --color-txt-white: var(--txt-secondary);
  --color-txt-red: var(--txt-hover);
  --color-promo-primary: var(--promo-primary);
  --color-promo-secondary: var(--promo-secondary);
  --color-promo-third: var(--promo-third);

  --breakpoint-phone: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-fullhd: 1920px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--libre-baskerville);
}

html {
  scroll-behavior: smooth;
}

.LoginFormBackground {
  background: hsla(203, 92%, 76%, 1);
  background: linear-gradient(180deg, hsla(203, 92%, 76%, 1) 0%, hsla(196, 83%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(203, 92%, 76%, 1) 0%, hsla(196, 83%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(203, 92%, 76%, 1) 0%, hsla(196, 83%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8CD0FA", endColorstr="#B2E5F8", GradientType=1 );
}

.LoginButton {
  background: linear-gradient(180deg, #fff 0%, #000 0%, #4a4a4a 100%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 1s ease-in-out;
}

.LoginButton:hover {
  background-position: bottom;
}

