@import "tailwindcss";

:root {
  --bg-primary: #FAFAFA;
  --bg-secondary: #0A0A0A;
  --bg-special: #3d2fff;
  
  --txt-primary: #121212;
  --txt-secondary: #FAFAFA;
  --txt-hover: #f32222;

  --promo-primary: #cf1b1b;
  --promo-secondary: #FAFAFA;
  --promo-third: #bebebe;
}

@theme {
  --color-brand-white: var(--bg-primary);
  --color-brand-black: var(--bg-secondary);
  --color-brand-special: var(--bg-special);
  --color-txt-black: var(--txt-primary);
  --color-txt-white: var(--txt-secondary);
  --color-txt-red: var(--txt-hover);
  --color-promo-primary: var(--promo-primary);
  --color-promo-secondary: var(--promo-secondary);
  --color-promo-third: var(--promo-third);

  --breakpoint-phone: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-fullhd: 1920px;
}