@import "tailwindcss";

:root {
  --background: #ffffff;
  --borderColor: #8d8f8e;
  --dbBlockColor: #3B82F6;
  --userBlockColor: #F97316;
  --ngButtonColor: #EF4444;
  --ngHoverButton: #DC2626;
  --posButtonColor: #22C55E;
  --posHoverButton: #16A34A;
  --defaultAccentColor: #3B82F6;
  --defaultAccentColorHover: #111eb8;
  --antiAccentColor: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}