@import "tailwindcss";

:root {
  --White: #FFFFFF;
  --WarmWhite: #FFFCF7;
  --GrayWhite: #FDFBF5;
  --SoftGray: #F1F0EE;
  --MediumGray: #D8D6D2;
  --Black: #111111;
  --WarmBlack: #2A2725;


  --borderColor: #8d8f8e;
  --dbBlockColor: #3B82F6;
  --userBlockColor: #F97316;
  --ngButtonColor: #EF4444;
  --ngHoverButton: #DC2626;
  --posButtonColor: #22C55E;
  --posHoverButton: #16A34A;
  --defaultAccentColor: #206eeb;
  --defaultAccentColorHover: #111eb8;
  --antiAccentColor: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: monospace;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.HeaderSpan {
  color: var(--backgroundMain);
}

.HeaderSpan {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.HeaderSpan::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.HeaderSpan:hover::after {
  width: 100%;
}

.LoginFormBackground {
  background: hsla(203, 92%, 76%, 1);
  background: linear-gradient(180deg, hsla(203, 92%, 76%, 1) 0%, hsla(196, 83%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(203, 92%, 76%, 1) 0%, hsla(196, 83%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(203, 92%, 76%, 1) 0%, hsla(196, 83%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8CD0FA", endColorstr="#B2E5F8", GradientType=1 );
}

.LoginButton {
  background: linear-gradient(180deg, #fff 0%, #000 0%, #4a4a4a 100%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 1s ease-in-out;
}

.LoginButton:hover {
  background-position: bottom;
}

.StudentDashboardBlock {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: all 300ms, box-shadow 300ms;
}

.StudentDashboardBlock:hover {
  transform: scale(1.01);
}

